.userLinks {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 15px 0;
}

.rowFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userLinksNotSplit {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px 0;
}

.userLinksNotSplit > div {
    margin: 5px 15px;
}

.contentContainer {
    margin: 5px 15px;
    font-size: 36px;
}
