// .asciidoc {
//     @import 'asciidoctor';
// }

// .header{
//     display: flex;
//     flex-direction: row;
// }

.asciidoctorInnerContainer{
    max-width:700px;
    // @import 'asciidoctor';
    overflow:hidden;
}

.asciidoctorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}