// .articleContentContainer{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }

.subTitle{
    max-width: 700px;
}

.cover{
    width:400px;
}

@media only screen and (max-width: 1450px) and (min-width:1001px) {
    .cover {
        width:300px;
    }
}

@media only screen and (max-width: 1000px) and (min-width:481px) {
    .cover{
        width:200px;
    }
}